@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "首頁";
}

<link rel="stylesheet" href="~/css/Css_Homepage.css" asp-append-version="true" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- 加載中（js最後尾） -->
<div id="loading" style="background-color:white;">
    <div class="spinner"><img class="an1" style="width:150px" src="~/images/Logo.png"></div>
</div>

<!-- 推播消息 -->
<div class="modal fade" id="mModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title myfont" id="exampleModalLabel">推播消息</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="~/images/Homepage_news_1.png" class="imgstyle1">
            </div>
            <div class="modal-footer"> 
                <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
                <label class="form-check-label  myfont" for="flexCheckIndeterminate">
                    不要再出現這個消息
                </label>
            </div>
        </div>
    </div>
</div>

<script src="~/js/welcome_Homepage.js"></script>


<!-- 根據資料庫中的日期、是否開啟以及優先序（非id）來抓取資料庫位置進行圖片輪播 
　　　如果資料庫沒有資料，會有預設的輪播圖。
-->
@{
    //排序以及確認是否顯示圖片。
    //先將整個列表按Carousel_DisplayOrder重新進行過一次排序
    //顯示條件有三個：1.需要在起始日期後　2.必須為結束日期前　3.Carousel_IsActive需為True
    //將第3項設在最上層（如果有後台，無論是否在日期內，被關掉就是不顯示。如果打開，再對照是否在核定的顯示日期）
    //如果資料庫沒有資料（HaveImgData = false）的情況下顯示假輪播。


    bool HaveImgData = false;
    int RealCarouselImgNumber = 0;


    <div id="carouselExampleCaptions" class="carousel slide " data-bs-ride="carousel">

        <!-- 輪播中的圖片 -->
        <div class="carousel-inner">

            @for (int i = 0; i < ViewBag.Demo.Count; i++)
            {
                while (@ViewBag.Demo[i].CarouselIsActive)
                {
                    if (@DateTime.Now <= @ViewBag.Demo[i].CarouselEndTime && @DateTime.Now >= @ViewBag.Demo[i].CarouselStartTime)
                    {
                        if (i == 0)
                        {
                            <div class="carousel-item active">
                                <img src="@Url.Content(ViewBag.Demo[i].CarouselImageUrl)" class="d-block w-100" alt="...">
                            </div>
                        }
                        else
                        {
                            <div class="carousel-item">
                                <img src="@Url.Content(ViewBag.Demo[i].CarouselImageUrl)" class="d-block w-100" alt="...">
                            </div>
                        }

                        HaveImgData = true;
                        RealCarouselImgNumber += 1;
                    }
                    else
                    {
                        //<P>未達開始時間 = @ViewBag.Demo[i].CarouselStartTime
                        // 或 已逾超過結束時間 = @ViewBag.Demo[i].CarouselEndTime</P>

                    }
                    break;
                }
            }

            @if (@HaveImgData == false) //沒有抓取到圖片資料（假設圖片全關掉）情況的備案
            {
                <div class="carousel-item active">
                    <img src="~/images/Homepage_Banner_1.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="~/images/Homepage_Banner_3.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="~/images/Homepage_Banner_2.png" class="d-block w-100" alt="...">
                </div>

                RealCarouselImgNumber += 3;
            }

        </div>


        <!-- 指標數
               以各種條件下最終呈現出來的圖片數量（ealCarouselImgNumber）為基準‧
               設計：導圓角變成圓圈-->

        <div class="carousel-indicators">
            @for (int i = 0; i < RealCarouselImgNumber; i++)
            {
                if (i == 0)
                {
                    <button type="button" style="width:13px; height:13px; border-radius:100%; margin-left:3%" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                }
                else
                {
                    <button type="button" style="width:13px; height:13px; border-radius:100%; margin-left:3%" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="@i" aria-label="Slide 2"></button>
                    //slide改掉
                }
            }
        </div>
    </div>

}

<!-- 營業時間－轉開效果，優惠詳情－普通卡片。
-->
<!-- row-cols-1:在 小型設備 下每行顯示 1 個項目
        row-cols-md-2:在中等設備(768)及以上的螢幕上，每行顯示 2 個項目。
        g-4: 每列1.5rem 的間距
        ms-4／me-4：左／右邊距，同上
        pb-4／pt-4：內距／上距，同上
        col-md-6: 在中等設備（md，>=768px），每列佔據 6/12 的寬度
        data-bs-toggle="modal" 點擊會觸發顯示框。（data-bs-target指定顯示的id）-->

<div class="myfont ms-5 me-5" id="NewsTAG" >
    <div>
        <p style="font-size: 22pt; margin-top: 150px; margin-bottom:5%; letter-spacing:0.4em;"><b>最新消息</b></p>
    </div>
    <!-- 切換按鈕（js最後尾）  -->
    <button id="switchToFirstCarousel" style="background-color:beige;border:none;color:black; width:150px;height:50px;">優惠內容</button>
    <button id="switchToSecondCarousel" style="background-color:blanchedalmond;border:none;color:black; width:150px;height:40px;  transform: translateY(5px);">營業公告</button>
    
   
    <!-- 大於1000px時顯示 -->
    <div class="d-none d-lg-block">
    </div>

    <!-- 小於1000px時顯示 -->
    <div class="d-block d-lg-none">

    </div>

    <!-- 第一組卡片列（switchToFirstCarousel/NewsSlide1） -->
    <div style="background-color:beige;">
        <div id="NewsSlide1" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                   
                    <div class="row row-cols-1 row-cols-md-2 g-4 ms-4 me-4" id="NewsCardList">
                        <div class="col pt-4 pb-4 ">
                            <div class="card" data-bs-toggle="modal" data-bs-target="#NewsALL1" id="NewsCard">
                                <div class="row">
                                    <div class="col-md-6">
                                        <img class="imgstyle1" src="~/images/Homepage_news_1.png" alt="...">
                                    </div>
                                    <div class="col-md-6 ">
                                        <div class="card-body card-text">
                                            <h5 class="card-title">獨享生日禮</h5>
                                            <p><small class="text-muted">04/13/2025</small></p>
                                            <p>當月生日壽星來店可以享用各式好禮，需出示證件給門市同仁確認。</p>
                                            <p>（使用詳情依門市而定） </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col pt-4 pb-4 ">
                            <div class="card " data-bs-toggle="modal" data-bs-target="#NewsALL2" id="NewsCard">
                                <div class="row">
                                    <div class="col-md-6">
                                        <img class="imgstyle1" src="~/images/Homepage_news_2.png" alt="...">
                                    </div>
                                    <div class="col-md-6">
                                        <div class="card-body card-text">
                                            <h5 class="card-title">打卡即贈小點心</h5>
                                            <p><small class="text-muted">02/19/2025</small></p>
                                            <p>拾鍋時光招牌點心新上市期間，打卡、按讚即贈送「拾鍋時光招牌小點心」一份。</p>
                                            <p>（詳情依門市而定）</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row row-cols-1 row-cols-md-2 g-4  ms-4  me-4" id="NewsCardList">
                        <div class="col pt-4 pb-4 ">
                            <div class="card" data-bs-toggle="modal" data-bs-target="#NewsALL3" id="NewsCard">
                                <div class="row">
                                    <div class="col-md-6">
                                        <img class="imgstyle1" src="~/images/Homepage_news_3.png" alt="...">
                                    </div>
                                    <div class="col-md-6 ">

                                        <div class="card-body card-text">
                                            <h5 class="card-title">拾鍋時光歡迎新會員</h5>
                                            <p><small class="text-muted">02/18/2025</small></p>
                                            <p>右上角或會員專區註冊加入會員，可使用官網的外送、外帶等便捷功能。</p>
                                            <p>詳情請見會員專區。</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col pt-4 pb-4 ">
                            <div class="card" data-bs-toggle="modal" data-bs-target="#NewsALL4" id="NewsCard">
                                <div class="row">
                                    <div class="col-md-6 ">
                                        <img class="imgstyle1" src="~/images/Homepage_news_4.png" alt="...">
                                    </div>
                                    <div class="col-md-6">
                                        <div class="card-body card-text">
                                            <h5 class="card-title">營業日期變更</h5>
                                            <p><small class="text-muted">02/15/2025</small></p>
                                            <p>所有分店將於2025年4月8日，停止營業至2025年4月9日。</p>
                                            <p>開業時間若有變動將再另行通知。</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <!-- 第二個卡片列 -->
                <div class="carousel-item">

                    <div class="row row-cols-1 row-cols-md-2 g-4  ms-4  me-4" id="NewsCardList">
                        <div class="col pt-4 pb-4 ">
                            <div class="card" data-bs-toggle="modal" data-bs-target="#NewsALL1" id="NewsCard">
                                <div class="row">
                                    <div class="col-md-6">
                                        <img class="imgstyle1" src="~/images/Homepage_news_1.png" alt="...">
                                    </div>
                                    <div class="col-md-6 ">
                                        <div class="card-body card-text">
                                            <h5 class="card-title">獨享生日禮</h5>
                                            <p><small class="text-muted">04/13/2025</small></p>
                                            <p>當月生日壽星來店可以享用各式好禮，需出示證件給門市同仁確認。</p>
                                            <p>（使用詳情依門市而定） </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col pt-4 pb-4 ">
                            <div class="card " data-bs-toggle="modal" data-bs-target="#NewsALL2" id="NewsCard">
                                <div class="row">
                                    <div class="col-md-6">
                                        <img class="imgstyle1" src="~/images/Homepage_news_2.png" alt="...">
                                    </div>
                                    <div class="col-md-6">
                                        <div class="card-body card-text">
                                            <h5 class="card-title">打卡即贈小點心</h5>
                                            <p><small class="text-muted">02/19/2025</small></p>
                                            <p>拾鍋時光招牌點心新上市期間，打卡、按讚即贈送「拾鍋時光招牌小點心」一份。</p>
                                            <p>（詳情依門市而定）</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row row-cols-1 row-cols-md-2 g-4  ms-4  me-4" id="NewsCardList">
                        <div class="col pt-4 pb-4 ">
                            <div class="card" data-bs-toggle="modal" data-bs-target="#NewsALL3" id="NewsCard">
                                <div class="row">
                                    <div class="col-md-6">
                                        <img class="imgstyle1" src="~/images/Homepage_news_3.png" alt="...">
                                    </div>
                                    <div class="col-md-6 ">

                                        <div class="card-body card-text">
                                            <h5 class="card-title">拾鍋時光歡迎新會員</h5>
                                            <p><small class="text-muted">02/18/2025</small></p>
                                            <p>右上角或會員專區註冊加入會員，可使用官網的外送、外帶等便捷功能。</p>
                                            <p>詳情請見會員專區。</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col pt-4 pb-4 ">
                            <div class="card" data-bs-toggle="modal" data-bs-target="#NewsALL4" id="NewsCard">
                                <div class="row">
                                    <div class="col-md-6 ">
                                        <img class="imgstyle1" src="~/images/Homepage_news_4.png" alt="...">
                                    </div>
                                    <div class="col-md-6">
                                        <div class="card-body card-text">
                                            <h5 class="card-title">營業日期變更</h5>
                                            <p><small class="text-muted">02/15/2025</small></p>
                                            <p>所有分店將於2025年4月8日，停止營業至2025年4月9日。</p>
                                            <p>開業時間若有變動將再另行通知。</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            @*position-relative 跟 position-absolute後，調整按鈕樣式位址*@
            <div>
                <button class="carousel-control-prev position-absolute top-50 start-0 translate-middle" style="background-color:#AFAE85;height:80px;width:50px;" type="button" data-bs-target="#NewsSlide1" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
            
                <button class="carousel-control-next position-absolute top-50 start-100 translate-middle" style="background-color:#AFAE85;height:80px;width:50px;" type="button" data-bs-target="#NewsSlide1" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
    <!-- 第二組卡片列（switchToSecondCarousel/NewsSlide2） -->
    <div style="background-color:blanchedalmond">
        <div id="NewsSlide2" style="display:none;" class="carousel slide">
            <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row row-cols-1 row-cols-md-2 g-4  ms-4  me-4" id="NewsCardList">
                            <div class="col  pt-4 pb-4">
                                <div class="card2 " id="NewsCard" style="padding-top:20% ">
                                    <div class="front size img-fluid">
                                        <img class="imgstyle1" style="max-width:400px;height:auto;" src="~/images/Homepage_date_1.png" alt="...">
                                    </div>
                                    <div class="back size" style="background-color:white;max-width:500px;height:auto;">
                                        <div class="card-body card-text">
                                            <h5 class="card-title">營業日期變更</h5>
                                            <p>所有分店將於2025年3月3日，停止營業至2025年3月5日。開業時間若有變動將再另行通知。</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col pt-4 pb-4 ">
                                <div class="card2 " id="NewsCard" style="padding-top:20% ">
                                    <div class="front size img-fluid">
                                        <img class="imgstyle1" style="max-width:400px;height:auto;" src="~/images/Homepage_date_2.png" alt="...">
                                    </div>
                                    <div class="back size" style="background-color:white;max-width:500px;height:auto;">
                                        <div class="card-body card-text">
                                            <h5 class="card-title">營業日期變更</h5>
                                            <p>所有分店將於2025年3月3日，停止營業至2025年3月5日。開業時間若有變動將再另行通知。</p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col  pt-4 pb-4">
                                <div class="card2 " id="NewsCard" style="padding-top:20%;padding-bottom:60%">
                                    <div class="front size img-fluid">
                                        <img class="imgstyle1" style="max-width:400px;height:auto;" src="~/images/Homepage_date_3.png" alt="...">
                                    </div>
                                    <div class="back size">
                                        <div class="card-body card-text" style="background-color:white">
                                            <h5 class="card-title">營業日期變更</h5>
                                            <p>所有分店將於2025年3月3日，停止營業至2025年3月5日。開業時間若有變動將再另行通知。</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col pt-4 pb-4 ">
                                <div class="card2 " id="NewsCard" style="padding-top:20%;padding-bottom:60%">
                                    <div class="front size img-fluid">
                                        <img class="imgstyle1" style="max-width:400px;height:auto;" src="~/images/Homepage_date_4.png" alt="...">
                                    </div>
                                    <div class="back size">
                                        <div class="card-body card-text " style="background-color:white">
                                            <h5 class="card-title">營業日期變更</h5>
                                            <p>所有分店將於2025年3月3日，停止營業至2025年3月5日。開業時間若有變動將再另行通知。</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- 第二個卡片列 -->
                <div class="carousel-item">
                    <div class="row row-cols-1 row-cols-md-2 g-4  ms-4  me-4" id="NewsCardList">
                        <div class="col  pt-4 pb-4">
                            <div class="card2 " id="NewsCard" style="padding-top:20% ">
                                <div class="front size img-fluid">
                                    <img class="imgstyle1" style="max-width:400px;height:auto;" src="~/images/Homepage_date_1.png" alt="...">
                                </div>
                                <div class="back size" style="background-color:white;max-width:500px;height:auto;">
                                    <div class="card-body card-text">
                                        <h5 class="card-title">營業日期變更</h5>
                                        <p>所有分店將於2025年3月3日，停止營業至2025年3月5日。開業時間若有變動將再另行通知。</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col pt-4 pb-4 ">
                            <div class="card2 " id="NewsCard" style="padding-top:20% ">
                                <div class="front size img-fluid">
                                    <img class="imgstyle1" style="max-width:400px;height:auto;" src="~/images/Homepage_date_2.png" alt="...">
                                </div>
                                <div class="back size" style="background-color:white;max-width:500px;height:auto;">
                                    <div class="card-body card-text">
                                        <h5 class="card-title">營業日期變更</h5>
                                        <p>所有分店將於2025年3月3日，停止營業至2025年3月5日。開業時間若有變動將再另行通知。</p>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col  pt-4 pb-4">
                            <div class="card2 " id="NewsCard" style="padding-top:20%;padding-bottom:60%">
                                <div class="front size img-fluid">
                                    <img class="imgstyle1" style="max-width:400px;height:auto;" src="~/images/Homepage_date_3.png" alt="...">
                                </div>
                                <div class="back size">
                                    <div class="card-body card-text" style="background-color:white">
                                        <h5 class="card-title">營業日期變更</h5>
                                        <p>所有分店將於2025年3月3日，停止營業至2025年3月5日。開業時間若有變動將再另行通知。</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col pt-4 pb-4 ">
                            <div class="card2 " id="NewsCard" style="padding-top:20%;padding-bottom:60%">
                                <div class="front size img-fluid">
                                    <img class="imgstyle1" style="max-width:400px;height:auto;" src="~/images/Homepage_date_4.png" alt="...">
                                </div>
                                <div class="back size">
                                    <div class="card-body card-text " style="background-color:white">
                                        <h5 class="card-title">營業日期變更</h5>
                                        <p>所有分店將於2025年3月3日，停止營業至2025年3月5日。開業時間若有變動將再另行通知。</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*position-relative 跟 position-absolute後，調整按鈕樣式位址*@
            <div>
                <button class="carousel-control-prev position-absolute top-50 start-0 translate-middle" style="background-color:#AFAE85;height:80px;width:50px;" type="button" data-bs-target="#NewsSlide2" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>

                <button class="carousel-control-next position-absolute top-50 start-100 translate-middle" style="background-color:#AFAE85;height:80px;width:50px;" type="button" data-bs-target="#NewsSlide2" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>


            <!-- 彈窗 -->

            <div class="modal fade" id="NewsALL1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">壽星獨享優惠</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="wmiddle">
                                <img style="width:50%" src="~/images/Homepage_news_1.png" alt="...">
                            </div>
                            <p class="wmiddle">

                                <br />
                                當月壽星至拾鍋時光用餐，即可選下列副食免費贈：<br />
                                <br />（使用詳情依各門市而定。）<br />
                                    ◼經典雞滷飯<br />
                                    ◼蝦滷飯<br />
                                    ◼麻辣豆腐<br />
                                    ◼香辣肉燥拌麵<br />
                                    ◼銷魂舒肥雞肉飯<br />
                                <br />
                                （需出示證件給門市同仁確認）<br />                                                                     .
                            </p>
                            <div class="wmiddle">
                                <button type="button" class="btn btn-secondary" style="width:150px" data-bs-dismiss="modal" aria-label="Close">關閉</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="NewsALL2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"> 打卡即贈小點心</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="wmiddle">
                                <img style="width:50%" src="~/images/Homepage_news_2.png" alt="...">
                            </div>
                            <p class="wmiddle">

                                <br />
                        拾鍋時光招牌點心 【雲朵白糖粿】新上市<br/>
                               <br/>
                                ＼軟呼軟呼新甜點／<br/>
                                        香甜暖綿如同白雲一般的口感，歡迎體驗<br/>
                                        <br/>

                                    搭配有機自製花生粉的香甜白糖粿<br/>
                              <br />
                                    期間，打卡、按讚即贈送「拾鍋時光招牌小點心」一份。<br/>                                                                     .
                            </p>
                            <div class="wmiddle">
                                <button type="button" class="btn btn-secondary" style="width:150px" data-bs-dismiss="modal" aria-label="Close">關閉</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="NewsALL3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">拾鍋時光歡迎新會員</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="wmiddle">
                                <img style="width:50%" src="~/images/Homepage_news_3.png" alt="...">
                            </div>
                            <p class="wmiddle">

                                <br />
                                加入拾鍋時光會員，可以體驗更多方便的功能！<br />
                                可以體驗的便利功能如下：<br />
                                <br />
                        ◼外送<br />
                        ◼外帶<br />
                        ◼確認訂單紀錄<br />
                        ◼確認訂位紀錄<br />
                                <br />
                                我們衷心歡迎您的加入！<br />                                                                     .
                            </p>
                            <div class="wmiddle">
                                <button type="button" class="btn btn-secondary" style="width:150px" data-bs-dismiss="modal" aria-label="Close">關閉</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="NewsALL4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">營業日期變更</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="wmiddle">
                                <img style="width:50%" src="~/images/Homepage_news_4.png" alt="...">
                            </div>
                            <p class="wmiddle">

                                <br />
                        所有分店將於2025年4月8日，停止營業至2025年4月9日。<br />
                                詳情請見營業時間告示。<br />
                                <br />
                                如造成您的不便，非常抱歉。
                                                               .
                            </p>
                            <div class="wmiddle">
                                <button type="button" class="btn btn-secondary" style="width:150px" data-bs-dismiss="modal" aria-label="Close">關閉</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    
</div>


<div style ="height: 100px;"></div>
<script>
    // 加載中（sessionStorage只有在進入網頁時加載一次）
        $(document).ready(function () {
        if (!sessionStorage.getItem('loadingShown')) {
            $('#loading').delay(1000).fadeOut(2000);

            sessionStorage.setItem('loadingShown', 'true');
        } else {
            $('#loading').fadeOut(0);
        }
    });
    //輪播圖切換

    //顯示第一組輪播圖
    document.getElementById('switchToFirstCarousel').addEventListener('click', function() {
        document.getElementById('NewsSlide1').style.display = 'block';
        document.getElementById('NewsSlide2').style.display = 'none';
    });

    //顯示第二組輪播圖
    document.getElementById('switchToSecondCarousel').addEventListener('click', function() {
        document.getElementById('NewsSlide1').style.display = 'none';
        document.getElementById('NewsSlide2').style.display = 'block';
    });
</script>